body {
    background-color: black;
}
.main {
    background: url(bg.jpg) no-repeat center center fixed; 
    background-size: cover;
    height: 100%;
}
a {
    text-decoration: none;   
}
.btn-danger a {
    color: #fff;
}